/*Variables*/
:root{
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --gray: hsl(0, 0%, 50%);
    --black: hsl(0, 0%, 7%);
    --mainFont: 'Figtree', sans-serif;
}

html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%; 
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: var(--mainFont);
    font-weight: 600;
    margin: 0 auto;
    font-size: 16px;
    text-align: center;
}

/*General*/
.yellow {
    background-color: var(--yellow);
}

h2, h3 {
    font-weight: 800;
}

a {
    text-decoration: none;
    color: var(--black);
    border-bottom: 1px solid blueviolet;
}

a:hover{
    color: blueviolet;
    transition: ease-in-out 1s;
}

a::before {
    content: "→ ";
}

a::after {
    content: " ←";
}

footer  {
    padding: 20px 0;
}


/*Blog Card*/
.blog_preview{
    padding: 40px 0;
}

.card {
    background-color: var(--white);
    border: 1.5px solid var(--black);
    border-radius: 10px;
    padding: 20px;
    max-width: 85%;
    margin: 0 auto;
    text-align: left;
    transition: box-shadow 1s;;
}

@media only screen and (min-width: 840px) {
    .card{
        max-width: 25%;
    }
}
@media only screen and (min-width: 1200px) {
    .card{
        max-width: 20%;
    }
}

.card:hover{
    -webkit-box-shadow: 12px 12px 0px -2px rgba(0,0,0,1);
    -moz-box-shadow: 12px 12px 0px -2px rgba(0,0,0,1);
    box-shadow: 12px 12px 0px -2px rgba(0,0,0,1);
    cursor: pointer;
}

.preview_img img {
    border-radius: 5px;
    width: 100%;
}

.blog_info-tag span {
    background-color: var(--yellow);
    padding:5px 15px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 800;
}

p.blog_info-timestamp {
    font-size: 14px;
}

.blog_content p{
    color: var(--gray);
}

.blog_author{
    display: flex;
}

.blog_author img{
    max-height: 50px;
    margin-right: 10px;
}

.blog_author p {
    font-weight: 800;
    vertical-align: middle;
}
